<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_area :subtitle %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :published_at %>
    <%= f.date_select :published_at %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.select :user_id, User.all.collect {|u| [ u.full_name, u.id ] } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
